<!DOCTYPE html5>
<html>
  <head>
    <title>Budding &raquo; Dashboard</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="Base layout" charset="utf-8">
  </head>
  <body>
    <h1><a href="/">Budding</a> &raquo; <a href="#">Dashboard</a></h1>
  </body>
</html>
