<!DOCTYPE html>
<html>
  <head>
    <title>Budding &raquo; Dashboard</title>
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen" title="Base layout" charset="utf-8">
    <meta http-equiv="content-type" value="text/html; charset=utf-8">
  </head>
  <body>
    <h1><a href="/">Budding</a> &raquo; <a href="/dashboard">Dashboard</a></h1>
    <div>
      <% if @documents.empty? %>
        <p>You do not have any documents yet. <a href="/document/create">Start now and create a new one</a>.</p>
      <% else %>
        <p><a href="/document/create">Create a new document</a>.</p>
        <ul>
          <% for document in @documents %>
            <li>
              <a title="Document title" href="/document/open/<%= document.document_id %>"><%= document.title %></a>
              <a title="Download the document in pdf" href="/document/pdf/<%= document.document_id %>">pdf</a>
              ·
              <span title="When the document was created"><%= document.created_on.strftime("%a, %m/%d/%Y %H:%M:%S") %></span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </body>
</html>
