<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title>Budding: Welcome</title>
    <link type="text/css" href="/css/jquery-ui-1.8rc3.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8rc3.custom.min.js"></script>
    <script type="text/javascript">
    jQuery.fn.id = function() {  
      var ids = []
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length) return ids;
      else return ids[0];
    };
    budding = {
      ui: {
        auth: 'signup',
        login: {
          '#input-email': {width: '140px', val: 'Your email', color: '#bbb', name: 'email'},
          '#input-password': {width: '140px', val: "Your password", color: '#bbb', type: 'password', name: 'password'},
          '#info': {
              html: "Welcome back. If you want, we can keep you signed in for a while. " +
                    "<input id=keep_signed_in type=checkbox class=ui-widget style=\"margin-left: 5px;\" name=keep_signed_in>" +
                    "<label for=keep_signed_in style=\"margin-left: 5px;\">Sounds good.</label>"
            }
        },
        signup: {
          '#input-email': {width: '140px', val: 'Your email', color: '#bbb', name: 'signup_email'},
          '#input-password': {width: '140px', val: "Your password", color: '#bbb', name: 'signup_password'},
          '#info': {html: "Signing up is as easy as logging in. We'll send you an e-mail with your password, but no activation is needed."}
        }
      }
    }
    init_ui = function() {
      $("#auth").buttonset();
      $('#signup-button').click(function() {
        if(budding.ui.auth == 'signup') return;
        $('#auth-type').attr('value', 'signup');
        $('#input-email').width(budding.ui.signup['#input-email'].width)
        $('#input-password').width(budding.ui.signup['#input-password'].width)
        $('#input-email').val(budding.ui.signup['#input-email'].val);
        $('#input-password').val(budding.ui.signup['#input-password'].val);
        $('#info').html(budding.ui.signup['#info'].html);
        budding.ui.auth = 'signup';
      });
      $('#login-button').click(function() {
        if(budding.ui.auth == 'login') return;
        $('#auth-type').attr('value', 'login');
        $('#input-email').width(budding.ui.login['#input-email'].width)
        $('#input-password').width(budding.ui.login['#input-password'].width)
        $('#input-email').val(budding.ui.login['#input-email'].val);
        $('#input-password').val(budding.ui.login['#input-password'].val);
        $('#info').html(budding.ui.login['#info'].html);
        $('#keep_signed_in').click(function() {
          if($(this).is(":checked")) {
            $('label[for=keep_signed_in]').css('font-weight', 'bold');
            $('#authform').append('<input type=hidden name=keep_signed_in value=1>');
          } else {
            $('label[for=keep_signed_in]').css('font-weight', 'normal');
            $('#authform input[name=keep_signed_in]').remove();
          }
        });
        budding.ui.auth = 'login';
      });
      $('#input-email').focus(function(e) {
        var val = $(this).val();
        if(val == budding.ui[budding.ui.auth]['#input-email'].val) {
          $(this).val('');
          $(this).width('140px');
          $(this).css({color: '#000'});
        }
      });
      $('#input-password').focus(function(e) {
        var val = $(this).val();
        if(val == budding.ui[budding.ui.auth]['#input-password'].val) {
          $(this).val('');
          $(this).width('140px');
          $(this).css({color: '#000'});
        }
      });
      $('#input-email').blur(function(e) {
        var val = $(this).val();
        if(val.match(/^\s*$/)) {
          $(this).val(budding.ui[budding.ui.auth]['#input-email'].val);
          $(this).width(budding.ui[budding.ui.auth]['#input-email'].width);
          $(this).css({color: budding.ui[budding.ui.auth]['#input-email'].color});
        }
      });
      $('#input-password').blur(function(e) {
        var val = $(this).val();
        if(val.match(/^\s*$/)) {
          $(this).val(budding.ui[budding.ui.auth]['#input-password'].val);
          $(this).width(budding.ui[budding.ui.auth]['#input-password'].width);
          $(this).css({color: budding.ui[budding.ui.auth]['#input-password'].color});
        }
      });

    }
    $(document).ready(function(){
      init_ui();
    });
    </script>
  	<style type="text/css" media="screen">
  	  * {
    		margin: 0;
    		padding: 0;
	    }
  		body {
  		  width: 100%;
  			font: normal 95% helvetica, sans-serif;
  			color: #000;
  			background-color: #fff;
  		}
  		#top {
  		  padding: 0px;
  		  padding-left: 20px;
  		  padding-top: 10px;
  		  padding-bottom: 5px;
  		  margin: 0px;
  		  background: #ccc;
  		}
  		#top h1 {
        display: inline;
        margin-right: 5px;
  		}
  		#top input.top-button {
  		  font-size:12px;
		  }
  		#content {
  		  padding: 0;
  			margin: 20px;
        width: 860px;
  			margin-bottom: 10px;
  		}
  		#content:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }  
  		#controls {
  		  font-size: 14px;
  		  padding: 0px;
  		  padding-top: 10px;
  		  padding-bottom: 10px;
  		  padding-left: 20px;
  		  margin: 0px;
  		  background: #ececec;
  		}
  		#controls:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }  
      #content input {
  		  font-size: 12px;
		  }
      #content label {
  		  font-size: 12px;
		  }
		  #input-email, #input-password {
		    margin-left: 10px; 
		    height: 27px;
		    padding: 0px 5px 0px 5px;
		    color: #bbb;
		  	width: 140px; 
		  }
  	  #blurb {
  	    position: fixed;
  	    bottom: 25px;
        color: #F26722;
        font-family: times, Times New Roman, times-roman, georgia, serif;
        font-size: 18px;
	    }
	    #blurb span.blurb {
        padding: 10px;
	      background: #ececec;
	    }
	    #blurb a:visited { 
        color: #F26722;
      }
  	</style>
  </head>
  <body>
    <div id="top">
      <h1>Budding</h1>
      <span style="margin-left: 5px; margin-top: -5px; font-weight: bold; text-decoration: underline; color: #A52A2A;">An innovative authoring tool for multi-platform content.</span>
    </div>
    <div id="controls">
      <span id="info">Signing up is as easy as logging in. We'll send you an e-mail with your password, but no activation is needed.</span>
		</div>
    <div id="content">
		  <div id="auth">
		    <form id="authform" action="/login" method="post" >
          <input type="radio" id="login-button" name="auth"/><label for="login-button">Login</label>
          <input type="radio" id="signup-button" name="auth" checked="true"/><label for="signup-button">Sign up</label>
          <input type="input" name="email" id="input-email" class="ui-widget" value="Your email">
          <input type="input" name="password" id="input-password" class="ui-widget" value="Your password">
          <input type="hidden" id="auth-type" name="authtype" value="signup">
          <input type="submit" style="margin-left: 10px;" value="Go.">
		    </form>
		  </div>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
