<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {ui: {}};
    
    <% unless flash.info.nil? %>
    budding.ui.forms['<%= flash.form %>']['#info'].html = '<%= flash.info.gsub("'", "\\\\'") %>';
    <% end %>
    
    budding.display_potential_keywords = function(tags) {
      var span, root = $('#potential-keywords');
      for(var i = 0, len = tags.length; i < len; i++) {
        span = $('<span class="tag ui-corner-all">' + tags[i].replace(" ", "&nbsp;") + '</span>');
        span.draggable({zIndex: 2700});
        root.append(span);
        root.append(" ");
      }
      root.show();
    }
    
    budding.init = function() {

      $('.top-button').button();
      $("#taggerform").buttonset();
      $("#tags-submit").button();
      // $('#signup-button').click(budding.ui.listeners['#signup-button']);
      // $('#login-button').click(budding.ui.listeners['#login-button']);

      $('.tagbox').droppable({
        drop: function(event, ui) {
          
          var tag = ui.draggable.text().replace('\u00a0', ' ');;
          var tag_category = $(this).attr('id').match(/([^-]*)-dropbox/)[1];
          
          var tag_elems = [
            $('<input type="hidden" name="tags[][tag]" value="' + tag + '">'),
            $('<input type="hidden" name="tags[][category]" value="' + tag_category + '">')
          ];
          
          var tag_elem = $('<span class="tag ui-corner-all">' + tag + '</span>');
          tag_elem.addClass('selected-tag');
          $(this).find(":first-child").after(tag_elem);
          $('#tags-submit').before(tag_elems[0]);
          $('#tags-submit').before(tag_elems[1]);
          ui.draggable.hide();
        }
      });
      
      $('#tagger').show();
      
      $('#tagger-submit').click(function() {
        var url = $('#input-url').val();
        $.post('/tagger', {url: url}, budding.display_potential_keywords, 'json');
      });

    }
    
    $(document).ready(function(){
      budding.init();
    });
    
    </script>
  	<style type="text/css" media="screen">
  	
  	  * {
    		margin: 0;
    		padding: 0;
	    }
  		body {
  		  width: 100%;
  			font: normal 95% helvetica, sans-serif;
  			color: #000;
  			background-color: #fff;
  		}
  		
  		#top {
  		  padding: 0px;
  		  padding-left: 20px;
  		  padding-top: 10px;
  		  padding-bottom: 5px;
  		  margin: 0px;
  		  background: #ccc;
  		}
  		#top h1 {
        display: inline;
        margin-right: 5px;
  		}
  		#top input.top-button {
  		  font-size:12px;
		  }
		  
  		#content {
  		  padding: 0;
  			margin: 20px;
        width: 860px;
  			margin-bottom: 10px;
  		}
  		#content:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }
      
  		#controls {
  		  font-size: 14px;
  		  padding: 0px;
  		  padding-top: 10px;
  		  padding-bottom: 10px;
  		  padding-left: 20px;
  		  margin: 0px;
  		  background: #ececec;
  		}
  		#controls:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }  
      #content input {
  		  font-size: 12px;
		  }
      #content label {
  		  font-size: 12px;
		  }
		  #input-url {
		    padding: 0px 3px 0px 5px;
		    font-size: 16px !important;
		    height: 27px !important;
		    width: 760px;
		  }
		  #tagger {
		    display: none;
		  }
	    .tagbox {
        margin: 10px 8px 0px 0px;
        padding: 28px 10px 10px 10px;	      
	      background-color: #eee;
	      border: 1px solid #bbb;
  		  min-height: 50px;
  		  width: 187px;
  		  float: left; 
	    }
	    #potential-keywords {
	      display: none;
        margin: 10px 12px 0px 0px;
	      padding: 10px;
	      background-color: #eee;
	      border: 1px solid #bbb;
	      line-height: 2em;
	    }
	    .tag {
	      background-color: #ADD8E6;
	      padding: 5px;
	      cursor: pointer;
	      font-size: 11px;
	      border: 1px solid #bbb;
	    }
	    .selected-tag {
  		  float: left;
  		  margin: 5px;
	    }
	    #dropboxes {
	      padding: 0px;
	      margin: 0px;
	    }
	    #dropboxes:after {
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
	    }
	    #dropbox-controls {
        margin: 10px 5px 10px -10px;
	    }
	    .dropbox-last {
	      margin-right: 0px;
	    }
      div.box-label {
        float: right;
        font-size: 12px;
        font-family: georgia;
        font-weight: bold;
        margin-top: -29px;
        margin-right: -11px;
        padding: 3px 5px 0px 5px;
        background: #BDBDBD;
        border: 1px solid #bbb;
      }
		  #input-email, #input-password-login, #input-password-signup {
		    margin-left: 10px; 
        height: 27px;
        padding: 0px 5px 0px 5px;
		    color: #bbb;
		  	width: 170px; 
		  }
		  #input-password-login, #input-password-signup {
		    display: none;
		  }
		  .server_error:before {
		    content: "[!] ";
		    font-weight: bold;
		    color: #A52A2A;
		    letter-spacing: 3px;
		  }
		  
  	  #blurb {
  	    clear: both;
  	    padding-top: 100px;
        color: #F26722;
        font-family: times, Times New Roman, times-roman, georgia, serif;
        font-size: 18px;
	    }
	    #blurb span.blurb {
        padding: 10px;
	      background: #ececec;
	    }
	    #blurb a:visited { 
        color: #F26722;
      }
  	</style>
  </head>
  <body>
    <div id="top">
      <h1>Budding</h1>
      <input type="button" id="button-dashboard" class="top-button" value="Dashboard">
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Budding will scan text from a URL and identify potential keywords for tagging.</span>
      <% end %>
		</div>
    <div id="content">
		  <div id="tagger">
		    <form id="taggerform" action="/tagger" method="post">
          <input type="text" name="url" id="input-url" class="ui-widget" placeholder="URL to scrape" value="http://en.wikipedia.org/wiki/Apple_Inc.">
          <input id="tagger-submit" type="button" style="margin-left: 10px;" value="Import">
		    </form>
		    <div id="potential-keywords" class="ui-corner-all">
		    </div>
        <div id="dropboxes">
          <div id="wikipedia-dropbox" class="tagbox ui-corner-all">
            <div class="box-label ui-corner-bl">&lt;wikipedia&gt;</div> 
          </div>
          <div id="google-dropbox" class="tagbox ui-corner-all">
            <div class="box-label ui-corner-bl">&lt;google&gt;</div> 
          </div>
          <div id="person-dropbox" class="tagbox ui-corner-all">
            <div class="box-label ui-corner-bl">&lt;person&gt;</div>
          </div>
          <div id="company-dropbox" class="tagbox ui-corner-all">
            <div class="box-label ui-corner-bl">&lt;company&gt;</div> 
          </div>
        </div>
        <div id="dropbox-controls">
		      <form id="tagsform" action="/tags" method="post">
            <input id="tags-submit" type="submit" style="margin-left: 10px;" value="Register tags">
		      </form>
        </div>
		  </div>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
