<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
		<link type="text/css" href="/css/common.css" rel="stylesheet" />
    <link type="text/css" href="/css/tags.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
        
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {ui: {}};
    
    <% unless flash.info.nil? %>
    budding.ui.forms['<%= flash.form %>']['#info'].html = '<%= flash.info.gsub("'", "\\\\'") %>';
    <% end %>
    
    budding.display_potential_keywords = function(tags) {
      var span, root = $('#potential-keywords');
      for(var i = 0, len = tags.length; i < len; i++) {
        span = $('<span class="tag ui-corner-all">' + tags[i].replace(" ", "&nbsp;") + '</span>');
        span.draggable({zIndex: 2700});
        root.append(span);
        root.append(" ");
      }
      root.show();
    }
    
    budding.init = function() {

      $('.top-button').button();
      $("#taggerform").buttonset();
      $("#tags-submit").button();
      // $('#signup-button').click(budding.ui.listeners['#signup-button']);
      // $('#login-button').click(budding.ui.listeners['#login-button']);

      $('.tagbox').droppable({
        drop: function(event, ui) {
          
          var tag = ui.draggable.text().replace('\u00a0', ' ');;
          var tag_category = $(this).attr('id').match(/([^-]*)-dropbox/)[1];
          
          var tag_elems = [
            $('<input type="hidden" name="tags[][tag]" value="' + tag + '">'),
            $('<input type="hidden" name="tags[][category]" value="' + tag_category + '">')
          ];
          
          var tag_elem = $('<span class="tag ui-corner-all">' + tag + '</span>');
          tag_elem.addClass('selected-tag');
          $(this).find(":first-child").after(tag_elem);
          $('#tags-submit').before(tag_elems[0]);
          $('#tags-submit').before(tag_elems[1]);
          ui.draggable.hide();
        }
      });
      
      $('#tagger').show();
      
      $('#tagger-submit').click(function() {
        var url = $('#input-url').val();
        $.post('/tagger', {url: url}, budding.display_potential_keywords, 'json');
      });

    }
    
    $(document).ready(function(){
      budding.init();
      $('.top-button').click(function(elem) {
        window.location = '/' + $(elem.target).attr('id').match(/button-(\w+)/)[1];
      });
    });
    
    </script>
  	<style type="text/css" media="screen">

  	</style>
  </head>
  <body>
    <div id="top" class="ui-corner-top">
      <h1>Budding</h1>
      <input type="button" id="button-dashboard" class="top-button" value="Dashboard">
      <input type="button" id="button-logout" class="top-button" value="Logout">
    </div>
    <div id="controls" class="ui-corner-bottom">
      <% if flash.info %>
      <span id="info" class="server_error"><%= flash.info %></span>
      <% else %>
      <span id="info">Budding will scan text from a URL and identify potential keywords for tagging.</span>
      <% end %>
		</div>
    <div id="content">
		  <div class="tag-box">
		    <input type="input" class="tag-name">
		    <input type="input" class="tag-description">
		    <input type="input" class="tag-query-url">
		    <div class="tag-save-button"></div>
		    <div class="tag-remove"></div>
		  </div>
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
