<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8;">
  	<title><%= @title %></title>
    <link type="text/css" href="/css/smoothness/jquery-ui-1.8.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.custom.min.js"></script>
    <script type="text/javascript">
    
    jQuery.fn.id = function() {  
      var ids = [];
      this.each(function() {
        ids.push(jQuery(this).attr('id'));
      });
      if(ids.length > 1) return ids;
      else return ids[0];
    };
    
    budding = {
      ui: {
        '#document-title-text': {val: "Click to add title"},
        currentFragments: {text: [], elements: []}
      },
      document: {
        title: null,
        body: [],
        next_text_block_id: 0,
      }
    };
    
    budding.document.body.single_string = function() {
      return $.map(this, function(tb) { return tb.text }).join("\n\n");
    }
    
    budding.remove_text_block = function(id) {
      var to_be_removed = this.document.body[id];
      delete this.document.body[id];
      return to_be_removed; // whole object
    };
    
    budding.add_text_block = function(text) {
      text = $.trim(text);
      this.document.body[this.document.next_text_block_id] = {
        id: this.document.next_text_block_id, text: text
      };
      var text_block_id = this.document.next_text_block_id++;
      var p = $('<p id="text-block-' + text_block_id + '" class="text-block"></p>').text(text);
      if(budding.document.body.length > 1) {
        $('.text-block:last').after(p);
      } else {
        $('#text-block-ta').before(p);
      }
      $('#text-block-ta').val("");
      budding.make_fragments_clickable();
      $('#text-block-' + text_block_id).click(function() {
        var text_block_ta = $('#text-block-ta').detach();
        $(this).after(text_block_ta);
        var text_block_id = parseInt($(this).id().match(/.*(\d+)$/)[1]);
        text_block_ta.val(budding.document.body[text_block_id].text);
        $(this).removeClass('selectable');
        $(this).addClass('text-block-selected');
      });
    };
    
    budding.save_story = function() {
      $('#editor-form input[name=title]').val(this.document.title);
      $('#editor-form input[name=story]').val(this.document.body.single_string());
      $('#editor-form').submit();
    };
    
    budding.make_fragments_clickable = function() {
      var blocks = $('#text-block p');
      for(var i = 0, len = blocks.length; i < len; i++) {
        var block = $(blocks[i]);
        var text = block.text();
        var fragments = [];
        var pieces = text.split(' ');
        for(var piece, fragment, j = 0, jlen = pieces.length; j < jlen; j++) {
          piece = pieces[j];
          var fragment_nontext = [];
          while(piece.charAt(piece.length-1).match(/[.,;:!?]/) && piece.length) {
            fragment_nontext.push(piece.charAt(piece.length-1));
            piece = piece.substr(0, piece.length-1);
          }
          fragment = $('<span></span>');
          fragment.attr('class', 'selectable');
          fragment.text(piece);
          fragments.push(fragment);
          if(j != jlen-1) {
            fragment_nontext.push(' ');
          }
          fragments.push($('<span></span>').text(fragment_nontext.join('')));
        }
        block.text("");
        block.append.apply(block, fragments);
      }
      $('.selectable').click(function(event) {
        if(budding.ui.shiftKey) {
          budding.ui.currentFragments.elements.push($(this));
          $(this).css('background', '#789');
          budding.ui.currentFragments.text.push($(this).text());
        } else {
          var selected_fragment = $("<span>" + $(this).text() + "</span>");
          selected_fragment.attr('class', 'selected');
          selected_fragment.draggable();
          $('#fragments-end').before(selected_fragment);
        }
      });
      $('#wikipedia-dropbox').droppable({
        drop: function(event, ui) {
          $(this).append('<br>');
          $('#wikipedia-fragments-end').before('<span class="selected" style="margin: 2px;">' + ui.draggable.text() + '</span>');
          ui.draggable.remove();
        }
      });
    }
    
    budding.init = function() {
      $('.top-button').button();
      $('#editor-save').button();
      $('.top-button').click(function(elem) {
        window.location = '/' + $(elem.target).attr('id').match(/button-(\w+)/)[1];
      });
      $('#text-block-ta').keydown(function(e) {
        if(e.which == 13) { // enter key
          var ta_val = $('#text-block-ta').val();
          if(!ta_val.match(/^\s*$/)) {
            budding.add_text_block(ta_val);
          }
        }
      });
      $('#text-block-ta').keyup(function() {
        if($('#text-block-ta').val().match(/^\s*$/)) {
          $('#text-block-ta').val("");
        }
      });
      $('#text-block-ta').val("");
      $('body').keydown(function(e) { 
        budding.ui.shiftKey = e.shiftKey;
      });
      $('body').keyup(function() { 
        if(budding.ui.shiftKey) {
          if(budding.ui.currentFragments.elements.length) {
            for(var span, i = 0, len = budding.ui.currentFragments.elements.length; i < len; i++) {
              budding.ui.currentFragments.elements[i].css('background', '#fff');
            }
            span = $("<span>" + budding.ui.currentFragments.text.join(' ') + "</span>");
            span.attr('class', 'selected');
            span.draggable();
            $('#fragments-end').before(span);
            budding.ui.currentFragments = {text: [], elements: []};
          }
          budding.ui.shiftKey = false;
        }
      });
      $('#document-title').click(function() {
        if(!$("#document-title-input").is(":visible")) {
          $("#document-title-input").show();
          $("#document-title-input").val(budding.document.title);
          $("#document-title-text").hide();
        }
      });
      $('#document-title-input').blur(function(e) {
        var title = $("#document-title-input").val();
        $("#document-title-input").hide();
        if(!title.match(/^\s*$/)) {
          budding.document.title = $("#document-title-input").val();
          $("#document-title-text").text(budding.document.title);
        } else {
          $("#document-title-text").text(budding.ui["#document-title-text"].val);
        }        
        $("#document-title-text").show();
      });
      $(document).keydown(function(e) {
        if(e.which == 13) {
          var title = $("#document-title-input").val();
          $("#document-title-input").hide();
          if(!title.match(/^\s*$/)) {
            budding.document.title = $("#document-title-input").val();
            $("#document-title-text").text(budding.document.title);
          } else {
            $("#document-title-text").text(budding.ui["#document-title-text"].val);
          }
          
          $("#document-title-text").show();
        }
      });
      $('#editor-save').click(function() {
        budding.save_story();
      });
    }
    
    $(document).ready(function(){
      budding.init();
      budding.make_fragments_clickable();
    });
    
    </script>
  	<style type="text/css" media="screen">
  	  * {
    		margin: 0;
    		padding: 0;
	    }
  		body {
  		  width: 100%;
  			font: normal 95% helvetica, sans-serif;
  			color: #000;
  			background-color: #fff;
  		}
  		#top {
  		  padding: 0px;
  		  padding-left: 20px;
  		  padding-top: 10px;
  		  padding-bottom: 5px;
  		  margin: 0px;
  		  background: #ccc;
  		}
  		#top h1 {
        display: inline;
        margin-right: 5px;
  		}
  		#top input.top-button {
  		  font-size:12px;
		  }
  		#content {
  		  padding: 0;
  			margin: 20px;
        width: 860px;
  			margin-bottom: 10px;
  		}
  		#content:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }  
  		#controls {
  		  font-size: 14px;
  		  padding: 0px;
  		  padding-top: 10px;
  		  padding-bottom: 10px;
  		  padding-left: 20px;
  		  margin: 0px;
  		  background: #ececec;
  		}
  		#controls:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
      }  
      #controls label {
  		  font-size: 12px;
		  }
		  #controls ul {
		    margin-top: 5px;
		  }
		  #controls li {
		    margin-left: 25px;
		    list-style-type: square;
		  }
		  #editor {
		    width: 595px;
		    float: left;
	    }
	    .text-block {
	      position: relative;
	      font-family: Georgia, times;
	      margin: -5px 0px 0px -5px;
	      padding: 5px 5px 5px 5px;
	    }
	    .text-block:hover { 
	      background: #F0E68C;
	    }
	    #fragments-container {
	      float: left;
	      position: relative;
	      margin-left: 15px;
	    }
	    #fragments-container:after {  
        content: ".";  
        visibility: hidden;  
        display: block;  
        clear: both;  
        height: 0;  
        font-size: 0;
	    }
      #selected-fragments {
        padding: 5px;
        width: 220px;
        line-height: 1.2em;
	      width: 240px;
  		  background-color: #BDBDBD;
	    }
	    #wikipedia-dropbox {
	      margin-top: 10px;
	      padding: 5px;
  		  background-color: #ADD8E6;
	    }
	    #fragments p {
	      margin-bottom: 5px;
	    }
	    .selected {
	      margin-left: 3px;
	      margin-right: 3px;
	      padding: 1px;
  		  -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	      background: #778899;
	      cursor: pointer;
	    }
	    .selectable {
	      cursor: pointer;
	      padding: 1px;
  		  -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	    }
	    .text-block-selected {
	      background: #BDB76B;
	    }
	    .selectable:hover {
	      background: #BDB76B;
	    }
      #text-block-ta {
  		  font-size: 14px;
        width: 100%;
        height: 70px;
        margin-bottom: 5px;
      }
      #editor-save {
  		  font-size: 12px;
  		  float: right;
      }
      #text-block p {
        margin-bottom: 10px;
      }
      #document-title {
      	background: #eee;
	      border: 1px solid #bbb;
	      padding: 5px;
	      margin-bottom: 10px;
	    }
	    #document-title-input {
	      font-size: 14px;
	      width: 100%;
	      padding: 2px 0px 2px 0px;
	    }
		  .server_error:before {
		    content: "[!] ";
		    font-weight: bold;
		    color: #A52A2A;
		    letter-spacing: 3px;
		  }
  	  #blurb {
  	    clear: both;
  	    padding-top: 100px;
        color: #F26722;
        font-family: times, Times New Roman, times-roman, georgia, serif;
        font-size: 18px;
	    }
	    #blurb span.blurb {
        padding: 10px;
	      background: #ececec;
	    }
	    #blurb a:visited { 
        color: #F26722;
      }
  	</style>
  </head>
  <body>
    <div id="top">
      <h1>Budding</h1>
      <input type="button" id="button-documents" class="top-button" value="Documents">
      <input type="button" id="button-settings" class="top-button" value="Settings">
    </div>
    <div id="controls">
      This is a document editor built with the specific goal of making annotation easier.
      <ul>
        <li>Each input box represents a block of text, click the [+] button to add more once you're done.</li>
        <li>Click on words to add them to the sidebar for later annotation.</li>
        <li>Press and hold <b>shift</b> to select multiple words (compose phrases).</li>
        <li>After selecting words and phrases, use the side-bar to assign links and save.</li>
      </ul>
    </div>
    <div id="content">
      <div id="editor">
        <div id="text-block">
          <% @text_blocks.each_with_index do |value, index| %>
          <p id="text-block-<%= index %>" class="text-block">
          <%= escape_html(value) %>
          </p>
          <% end %>
          <textarea id="text-block-ta"></textarea>
          <input type="button" id="editor-save" value="Save">
          <form id="editor-form" style="display: none;" method=post action=/documents>
            <input type="hidden" name="title" value="">
            <input type="hidden" name="story" value="">
          </form>
        </div>
      </div>
      <div id="fragments-container">
        <div id="document-title" class="ui-corner-all">
          <span id="document-title-text">Click to add title</span>
          <input id="document-title-input" style="display: none;" class="ui-widget" type="text">
        </div>
        <div id="selected-fragments" class="ui-corner-all">
          <p align="center">Selected fragments<br>will appear here.</p>
          <span id="fragments-end"></span>
        </div>
        <div id="wikipedia-dropbox" class="ui-corner-all">
          <p align="center">Drag fragments here<br>to turn them into<br>Wikipedia queries.</p>
          <span id="wikipedia-fragments-end"></span>
        </div>
      </div>
      <!--
        Title
        Short summary
        Teaser
        Complete copy
        Metadata
        Locations
        People
        Companies
        Keywords
        Language
      -->
      <div id="blurb"><span class="blurb">A <a href="http://www.dangerousprecedent.com/">Dangerous Precedent</a> product.</span></div>
    </div>
  </body>
</html>
