/* Basic style definitions so prototype doesn't look so ugly */
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Trebuchet MS", Times;
}

body {
    text-align: center;
    margin: 10px;
}

h1 {
    margin: 10px;
}

fieldset {
    margin: 10px auto;
    width: 500px;
    padding: 10px;
    border: 2px solid #ececec;
}

fieldset.large {
    width: 85%;
    text-align: left;
}

fieldset:hover {
    border: 2px solid green;
    background-color: #f8fff8;
}

legend {
    font-variant: small-caps;
    font-size: 21px;
    text-align: center;
    padding: 10px;
}

label {
	margin: 0;
    display: block;
}

label:after {
    content: ":";
}

input {
	margin: 10px auto;
    font-size: 31px;
    display: block;
}

input.large, textarea, select {
    margin: 10px;
    font-size: 24px;
    width: 95%;
}

input[type="submit"] {
	position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 2px;
}

input[type="submit"]:hover {
    background-color: #d0ffc7;
}

textarea {
    height: 300px;
}

#warn {
	margin: 10px;
    color: red;
}
