
#content label {
  font-size: 12px;
}

#content li {
  margin-bottom: 3px;
}

#content li:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  

.inline-box {
  display: inline;
  background: #eee;
  border: 1px solid #bbb;
  padding: 5px;
}

#document-created-at, #document-title, #document-edit-button, #document-delete-button {
  display: block;
  float: left;
}

#document-created-at {
  width: 100px;
  text-align: center;
}

#document-delete-button {
  margin-left: -2px;
}

#document-edit-button, #document-delete-button {
  text-decoration: none;
  color: #000;
}

#document-edit-button:visited, #document-delete-button:visited, #document-edit-button:active, #document-delete-button:active {
  color: #000;
}

#document-edit-button:hover, #document-delete-button:hover {
  background: #fff;
  color: #000;
}

#document-title, .editing-title {
  background: #fff;
  border: 1px solid #bbb;
  margin: 0px -2px 0px -2px;
  padding: 5px 10px 5px 10px;
  width: 650px;
}

#document-title:hover {
  background: #eee;
}

.editing-title {
    margin: 5px;
    width: 600px;
    font-size: 16px;
}

.server_error:before {
  content: "[!] ";
  font-weight: bold;
  color: #A52A2A;
  letter-spacing: 3px;
}

#text-overview-0 {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  background: #ccc;
}

#text-overview-1 {
  padding: 10px 10px 10px 10px;
  background: #ececec;
}

#text-overview-2 {
  padding: 10px 10px 10px 10px;
  background: #ccc;
}

#text-overview-3 {
  padding: 10px 10px 10px 10px;
  background: #ececec;  
}

#text-overview-4 {
  padding: 10px 10px 10px 10px;
  background: #ccc;
  font-size: 20px;
}

.text-image {
  float: left;
  width: 200px;
  height: 100px;
  border: 1px solid #000;
}

.text-content {
  width: 625px;
  margin-left: 10px;
  font-size: 18px;
  float: left;
  overflow: hidden;
}

.not_done {
  color: #A52A2A;
}