
* {
	margin: 0;
	padding: 0;
}
body {
  width: 100%;
	font: normal 95% helvetica, sans-serif;
	color: #000;
	background-color: #fff;
}

#top {
  padding: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0px;
  background: #ccc;
}
#top h1 {
  display: inline;
  margin-right: 5px;
}
#top input.top-button {
  font-size:12px;
}

#content {
  padding: 0;
	margin: 20px;
  width: 860px;
	margin-bottom: 10px;
}
#content:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

#controls {
  font-size: 14px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0px;
  background: #ececec;
}
#controls:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  
#content input {
  font-size: 12px;
}
.foo {
  font-size: 12px;		    
  font-weight: bold;
}
#content label {
  font-size: 12px;
}
#content li {
  margin-bottom: 3px;
}
#content li:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  
.inline-box {
  display: inline;
  background: #eee;
  border: 1px solid #bbb;
  padding: 5px;
}
#document-created-at, #document-title, #document-edit-button, #document-delete-button {
  display: block;
  float: left;
}
#document-created-at {
  width: 100px;
  text-align: center;
}
#document-delete-button {
  margin-left: -2px;
}
#document-edit-button, #document-delete-button {
  text-decoration: none;
  color: #000;
}
#document-edit-button:visited, #document-delete-button:visited, #document-edit-button:active, #document-delete-button:active {
  color: #000;
}
#document-edit-button:hover, #document-delete-button:hover {
  background: #fff;
  color: #000;
}

#document-title {
  background: #fff;
  border: 1px solid #bbb;
  margin: 0px -2px 0px -2px;
  padding: 5px 10px 5px 10px;
  width: 635px;
}
.server_error:before {
  content: "[!] ";
  font-weight: bold;
  color: #A52A2A;
  letter-spacing: 3px;
}
#blurb {
  clear: both;
  padding-top: 100px;
  bottom: 25px;
  color: #F26722;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 18px;
}
#blurb span.blurb {
  padding: 10px;
  background: #ececec;
}
#blurb a:visited { 
  color: #F26722;
}