
/* controls */

#controls {
  z-index: -1;
  font-size: 14px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0px 0px 0px 0px;
  background: #ececec;
}

#controls label {
  font-size: 12px;
}

#controls ul {
  margin-top: 5px;
}

#controls li {
  margin-left: 25px;
  list-style-type: square;
}

#controls:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}
#language-box {
  float: left;
  margin-right: 10px;
  width: 210px;
}
#language-box-dropdown {
  font-size: 14px;
  height: 29px;
  width: 200px;
}

.editor-bar-button {
  color: #666;
}

.editor-bar-button-selected, .editor-bar-button:hover {
  color: #000;
/*  border: 1px solid #000 !important;*/
  cursor: pointer;
  background: #fff;
}

.editor-bar-button:active {
  background: #ddd;
  cursor: pointer;
  color: #000;
}

#document-title-box {
  width: 175px;
  float:left;
  border: 1px solid #bbb;
  padding: 5px 7px 5px 7px;
  margin-right: 20px;
  text-align: center;
}
#center-buttons-box {
  width: 120px;
  float:left;
}

#center-buttons-box:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

#button-save {
  float: left;
  border: 1px solid #bbb;
  padding: 5px 7px 5px 7px;
  margin-right: -2px;
}

#button-share {
  float: left;
  border: 1px solid #bbb;
  padding: 5px 7px 5px 7px;
}

#export-buttons-box {
  width: 300px;
  float:left;
}

#export-buttons-box:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

#export-buttons-label {
  float: left;
  margin-right: 5px;
  padding: 6px 7px 5px 7px;
}

#button-export-html {
  float: left;
  border: 1px solid #bbb;
  padding: 5px 7px 5px 7px;
  margin-right: -2px;
}
#button-export-pdf {
  float: left;
  border: 1px solid #bbb;
  padding: 5px 7px 5px 7px;
  margin-right: -2px;
}
#button-export-doc {
  float: left;
  border: 1px solid #bbb;
  padding: 5px 7px 5px 7px;
  margin-right: -2px;
}

#editor {
  margin-top: 5px;
  width: 870px;
  float: left;
}

#text-block-preview {
  display: none;
  background: #F0E68C;
  position: relative;
  font-family: Georgia, times;
  margin: -5px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  min-height: 17px;
}

/* text-block */

.text-block {
  position: relative;
  font-family: Georgia, times;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 5px 5px;
}

.text-block:hover { 
  background: #F0E68C;
}

.text-block-selected {
  background: #F0E68C; /* formerly: #BDB76B; */
}

.text-block-p {	    
  font-size: 16px;
}

.text-block-h1 {
  font-size: 20px;
  font-weight: bold;
}

.text-block-h2 {
  font-size: 18px;
}

.text-block-blockquote {
  padding: 5px 10px 5px 5px;
  font-style: italic;
  font-size: 16px;
}

.insertion-point {
  height: 10px;
  margin: 0px 0px 0px 0px;
}

.insertion-point:hover {
  background: #F0E68C; /* formerly: #BDB76B; */
}

#editor-controls {
  padding: 0px;
  margin-bottom: 5px;
  display: none;
}

#editor-controls:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

#text-block-type-buttonset  {
  float: left;
  font-size: 11px;
  width: 500px;
}

#text-block-type-buttonset div {
  height: 15px;
}

#editor-save-box {
  position: relative;
  margin-right: 1px;
}

#editor-save {
  margin-top: 10px;
  font-size: 12px;
}

.tag {
  background-color: #ADD8E6;
  padding: 5px;
  cursor: pointer;
  font-size: 11px;
  border: 1px solid #bbb;
}

#text-block-ta {
  background: #FFFFE0; 
  font-size: 14px;
  outline: 0;
  width: 857px;
  height: 70px;
  margin: -5px 0px 0px 0px;
  padding: 5px;
} 

#text-block-ta:focus {
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
}

.ta-text-block-selected {
  margin-top: -15px;
}

#tag-editor-box {
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: -10px;
}

#link-suggestions {
  display: none;
  margin: 0px 0px 0px 0px;
}

.link-suggestion {
  cursor: pointer;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #bbb;
  background-color: #c4c4c4;
}

.link-suggestion:hover {
  background-color: #777;
}

.link-suggestion:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

.link-suggestion-title {
  float: left;
  margin-right: 5px;
}

.link-suggestion-href {
  font-size: 12px;
  padding: 0px 5px 0px 5px;
  float: left;
  color: #e6e6e6;
  background-color: #3c3c3c;
}

.tag-editor {
  width: 858px;
  margin-top: 0px;
  padding: 5px;
  padding-top: 5px;
  margin-right: 15px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #bbb;
  margin: 0px 0px 10px 0px;
}

div.tag-editor-label {
  right: 0px;
  position: absolute;
  line-height: 1em;
  font-size: 12px;
  font-family: georgia;
  font-weight: bold;
  margin-top: -24px;
  margin-right: 5px;
  padding: 3px 5px 0px 5px;
  background: #BDBDBD;
  border: 1px solid #bbb;
}

#tag-editor-tags {
  margin-bottom: -10px;
}

#tag-editor-tags:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

.tag-editor input {
  display: block;
  font-size: 16px;
  height: 27px;
  margin-right: 5px;
  width: 855px;
  margin-bottom: 5px;
}

.editor-tag {
  display: block;
  float: left;
  cursor: pointer;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.editor-tag-selected, .editor-tag:hover {
  border: 1px solid #999;
  background-color: #fff;
}

.editor-tag-content {
  color: #666;
  padding: 5px 7px 5px 7px;
  float: left;
}

.editor-tag-close {
  float: left;
  width: 8px;
  height: 24px;
  margin-left: -2px;
  background-color: #bbb;
}
.editor-tag-close:hover {
  background-color: #555;
}

.editor-tag:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}


#editor-controls-top {
  display: none;
  margin-bottom: 10px;
}

#tag-type-buttonset {
  font-size: 11px;
}

#metadata-box {
}

#metadata-box:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

#short-summary-box {
  float: left;
  width: 413px;
  margin-right: 5px;
}

#short-summary-textarea {
  width: 395px;
  height: 86px;
  font-size: 16px;
  padding: 5px;
}

#document-title-input {
  width: 395px;
  height: 27px;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;

}

#metadata-fields-box {
  float: left;
  width: 450px;
}

.metadata-field-box {
  border: 1px solid #bbb;
}

.metadata-field-box:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

.metadata-field-label {
  float: left;
  background: #eee;
  padding: 5px;
  width: 140px;
  border-right: 1px solid #bbb;
  font-size: 15px;
  text-align: right;
}

.metadata-field-content {
  float: left;
  padding: 0px;
  width: 282px;
}

.metadata-field-input {
  height: 27px;
  font-size: 16px;
  width: 294px;
  border: 0px;
  padding-left: 3px;
}
