#top {
  padding: 30px 0px 5px 20px;
/*  text-shadow: 0px 2px 3px #555;*/
  background: #ececec;
}

#content {
	margin: 0px 0px 10px 0px;
  width: 870px;
}

#controls {
  font-size: 14px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0px;
  background: #ccc;
  display: none;
}

#controls:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  
#content input {
  font-size: 12px;
}
#content label {
  font-size: 12px;
}
#authform {
  display: none;
}
#input-email, #input-password-login, #input-password-signup {
  margin-left: 10px; 
  height: 27px;
  padding: 0px 5px 0px 5px;
  color: #bbb;
	width: 170px; 
}
#input-password-login, #input-password-signup {
  display: none;
}
.server_error:before {
  content: "[!] ";
  font-weight: bold;
  color: #A52A2A;
  letter-spacing: 3px;
}

#banner-1 {
  padding: 10px 10px 10px 20px;
  font-size: 20px;
/*  text-shadow: 0px 2px 3px #555;*/
  background: #ccc;
}
#banner-2 {
  padding: 10px 10px 10px 20px;
  font-size: 20px;
/*  text-shadow: 0px 2px 3px #555;*/
  background: #ececec;
}
#banner-3 {
  padding: 10px 10px 10px 20px;
  font-size: 20px;
/*  text-shadow: 0px 2px 3px #555;*/
  background: #ccc;
}
#banner-3-text {
  float: left;
}
#auth {
  margin-left: 20px;
  float: left;
}
#banner-3:after {
  content: ".";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0px;
  font-size: 0px;
}
#banner-4 {
  padding: 10px 10px 10px 20px;
  font-size: 20px;
/*  text-shadow: 0px 2px 3px #555;*/
  background: #ececec;
}
#authform-submit-button {
  margin-left: 10px;
/*  text-shadow: 0px 2px 3px #555;*/
}

/* blurb (differs from common.css) */

#blurb {
  clear: both;
  padding: 0px;
  margin: 0px;
  color: #F26722;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  font-size: 16px;
  width: 875px;
}

#blurb a {
  color: #F26722;
}

#blurb span.blurb {
  display: block; 
  padding: 10px;
  border-top: thick solid #F26722;
  background: #40404F;
}

#blurb a:visited { 
  color: #F26722;
}

