
#top h1 {
  display: inline;
  margin-right: 5px;
}
#top input.top-button {
  font-size:12px;
}

#content {
  padding: 0;
	margin: 20px;
  width: 860px;
	margin-bottom: 10px;
}
#content:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}

#controls {
  font-size: 14px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0px;
  background: #ececec;
}
#controls:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  
#content input {
  font-size: 12px;
}
#content label {
  font-size: 12px;
}

#authform {
  display: none;
}
#input-email, #input-password-login, #input-password-signup {
  margin-left: 10px; 
  height: 27px;
  padding: 0px 5px 0px 5px;
  color: #bbb;
	width: 170px; 
}
#input-password-login, #input-password-signup {
  display: none;
}
.server_error:before {
  content: "[!] ";
  font-weight: bold;
  color: #A52A2A;
  letter-spacing: 3px;
}
