
#top h1 {
  display: inline;
  margin-right: 5px;
}
#top input.top-button {
  font-size:12px;
}

#controls {
  font-size: 14px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0px;
  background: #ececec;
}
#controls:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  
#content input {
  font-size: 12px;
}
#content label {
  font-size: 12px;
}
#input-url {
  padding: 0px 3px 0px 5px;
  font-size: 16px !important;
  height: 27px !important;
  width: 760px;
}
#tagger {
  display: none;
}
.tagbox {
  margin: 10px 8px 0px 0px;
  padding: 28px 10px 10px 10px;	      
  background-color: #eee;
  border: 1px solid #bbb;
  min-height: 50px;
  width: 187px;
  float: left; 
}
#potential-keywords {
  display: none;
  margin: 10px 12px 0px 0px;
  padding: 10px;
  background-color: #eee;
  border: 1px solid #bbb;
  line-height: 2em;
}
.tag {
  background-color: #ADD8E6;
  padding: 5px;
  cursor: pointer;
  font-size: 11px;
  border: 1px solid #bbb;
}
.selected-tag {
  float: left;
  margin: 5px;
}
#dropboxes {
  padding: 0px;
  margin: 0px;
}
#dropboxes:after {
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}
#dropbox-controls {
  margin: 10px 5px 10px -10px;
}
.dropbox-last {
  margin-right: 0px;
}
div.box-label {
  float: right;
  font-size: 12px;
  font-family: georgia;
  font-weight: bold;
  margin-top: -29px;
  margin-right: -11px;
  padding: 3px 5px 0px 5px;
  background: #BDBDBD;
  border: 1px solid #bbb;
}
#input-email, #input-password-login, #input-password-signup {
  margin-left: 10px; 
  height: 27px;
  padding: 0px 5px 0px 5px;
  color: #bbb;
	width: 170px; 
}
#input-password-login, #input-password-signup {
  display: none;
}
.server_error:before {
  content: "[!] ";
  font-weight: bold;
  color: #A52A2A;
  letter-spacing: 3px;
}
