
#top h1 {
  display: inline;
  margin-right: 5px;
}
#top input.top-button {
  font-size:12px;
}


#controls {
  font-size: 14px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0px;
  background: #ececec;
}
#controls:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  
#content input {
  font-size: 12px;
}
#content label {
  font-size: 12px;
}


.tag-box {
  border: 1px solid #ccc;
  background-color: #eee;
  margin-bottom: 5px;
}
.tag-box:hover {
  border: 1px solid #555;
}

.tag-box:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  

.tag-name {
  float: left;
  width: 140px;
  height: 27px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 5px 0px 5px;
  font-size: 16px !important;
}

.tag-description {
  float: left;
  width: 240px;
  height: 27px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 5px 0px 5px;
  font-size: 16px !important;
}

.tag-query-url {
  float: left;
  width: 368px;
  height: 27px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px 5px 0px 5px;
  font-size: 16px !important;
}

.tag-save-button {
  float: left;
  width: 40px;
  height: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 5px 7px 5px 7px;
  font-size: 16px;
  text-align: center;
}

.tag-save-button:hover {
  border: 1px solid #bbb;
  cursor: pointer;
  background: #fff;
}
.tag-save-button:active {
  background: #ddd;
  cursor: pointer;
  color: #000;
}

.tag-remove {
  float: left;
  width: 8px;
  height: 39px;
  background-color: #bbb;
}

.tag-remove:hover {
  background-color: #555;
}

#tag-box-add {
  float: left;
  width: 868px;
  height: 8px;
  background-color: #bbb;
}
#tag-box-add:hover {
  background-color: #555;
}

.server_error:before {
  content: "[!] ";
  font-weight: bold;
  color: #A52A2A;
  letter-spacing: 3px;
}

