
#top h1 {
  display: inline;
  margin-right: 5px;
}
#top input.top-button {
  font-size:12px;
}


#controls {
  font-size: 14px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0px;
  background: #ececec;
}
#controls:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  
#content input {
  font-size: 12px;
}
#content label {
  font-size: 12px;
}


.tag-box {
  border: 1px solid #ccc;
  background-color: #eee;
}

.tag-box:after {  
  content: ".";  
  visibility: hidden;  
  display: block;  
  clear: both;  
  height: 0;  
  font-size: 0;
}  

.tag-name {
  float: left;
  width: 150px;
  height: 27px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tag-description {
  float: left;
  width: 250px;
  height: 27px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tag-query-url {
  float: left;
  width: 350px;
  height: 27px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tag-save-button {
  float: left;
  width: 79px;
  height: 27px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1px solid #000;
}

.tag-remove {
  float: left;
  width: 8px;
  height: 39px;
  background-color: #bbb;
}

.tag-remove:hover {
  background-color: #555;
}


.server_error:before {
  content: "[!] ";
  font-weight: bold;
  color: #A52A2A;
  letter-spacing: 3px;
}

